/* files/themore/assets/scss/_backend/icons.css | last updated v1.4.0 (created) */

.icon {
  display: inline-grid;
  margin: 0 .3em;
}	

svg {
  height: 1em;
}		

.iconpos_block .icon {
  display: block;
}

.iconBG {
  place-content: center;
  height: 1.7em;
  width: 1.7em;
}	

.floatingButton.themoreIconWrapper .icon {
  display:grid;
}