/* files/themore/assets/scss/contao/faq.css | last updated v1.4.0 */

/* [start] faq list */

	.mod_faqlist li {
		padding:15px 20px 15px 10px;
		margin-right: 50px;
	}
	
	.mod_faqlist li:not(:last-child) {
		border-bottom: 4px dotted #ddd;
	}
	
	.mod_faqlist ul {
		background-color: #f4f4f4;
		padding-top: 50px;
		padding-bottom: 50px;
		max-width: 800px;
		font-size: 1.3em;
	}

/* [end] faq list  */

/* [start] faq reader */

	.mod_faqreader .ce_text {
		padding: 50px;
		background-color: #f4f4f4;
		position:relative;
	}
	
	.mod_faqreader .ce_text::before {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15.5px 18px 15.5px;
		border-color: transparent transparent #F4F4F4 transparent;
		transform: rotate(0deg);
		position:absolute;
		top:0;
		left:25px;
		content: '';
		transform: translateY(-100%);
	}
	
	.mod_faqreader .info {
		color: #666;
		font-style: italic;
	}
	
/* [end] faq reader  */