/* files/themore/assets/scss/contao/news.css | last updated v1.4.0 */

/* [start] news list style 1 */

	.mod_newslist .style_1.layout_latest {
		position:relative;
		display: grid;
		align-content: end;
		transition-duration: .3s;
		z-index: 1;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 0 10px #0002;
		min-height:400px;
		background-color: #373737;
	}
	
	.mod_newslist .style_1 .subHeadline {
		position: absolute;
		top: 15px;
		left: 15px;
		background: #2828289c;
		color: white;
		font-size: .8em;
		padding: 5px 10px;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 13px;
	}
	
	.mod_newslist .style_1 time {
		position: absolute;
		right: 15px;
		top: 15px;
		color: white;
		text-shadow: 0 0 4px #000;
	}

	.mod_newslist .style_1.layout_latest:hover {
		transform: translateY(-10px);
		transition-duration: .3s;
		box-shadow: 0 0 20px #0004;
		border-radius: 10px;
	}

	.mod_newslist .style_1 figure {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		z-index: -2;
	}
	
	.mod_newslist .style_1 img {
		object-fit: cover;
		height: 100%;
		transition-duration:.3s;
	}
	
	.mod_newslist .style_1.layout_latest:hover img {
		transition-duration: .3s;
		filter: blur(2px) brightness(.8);
	}
	
	.mod_newslist .style_1 .ce_text  {
		font-size: .9em;
		line-height: 1.3;
		margin-bottom:0;
	} 

	.mod_newslist .style_1 .content {
		background-color: #0009;
		padding: 15px;
		border-radius: 0 0 10px 10px;
		border-top: 2px solid var(--main-color);
		box-shadow: 0 0 10px #0003;
		color: white;
	}
	
	.mod_newslist .style_1 .title {
		padding: 15px;
		font-weight: bold;
		text-shadow: 0 0 9px #000;
	}

/* [end] news list style 1 */

/* [start] news pagination */

	.mod_newslist:has(nav.pagination) {
		padding-bottom: 100px;
		position: relative;
	}
	
	.mod_newslist nav.pagination {
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
	}
	
	
	.pagination li {
		display: inline-block;
		margin-right: 5px;
	}
	
	.pagination ul {
		padding-left: 0;
		margin: 10px 0;
	}
	
	.pagination strong {
		background-color: var(--main-color);
		padding: 5px 10px;
		color: white;
	}
	
/* [end] news pagination */

/* [start] news reader style 1 */

	.mod_newsreader.style_1 .imageHeaderNews img {
		max-height: 400px;
		width: 100%;
		object-fit: cover;
		border-radius: 40px;
	}
	

	
	.mod_newsreader.style_1 .imageHeaderNews {
		position: relative;
		min-height: 300px;
		background-color: #f4f4f4;
		border-radius: 40px;
	}

	.mod_newsreader.style_1 .subHeadlineWrapper {
		position: absolute;
		left: 0;
		right: 0;
		top: 20px;
		max-width: 1000px;
		margin: auto;
		padding-left: 50px;
	}

	.mod_newsreader.style_1 .subHeadline {
		background-color: #000b;
		padding: 10px 20px;
		display: inline-block;
		border-radius: 500px;
		color: white;
	}

	.mod_newsreader.style_1 .content {
		max-width: 900px;
		padding: 50px;
		margin: -100px auto 0;
		background-color: white;
		z-index: 2;
		position: relative;
		box-shadow: 0 0 10px #0003;
		border-radius: 20px;
	}
	
	.back {
		margin-top: 50px;
	}

/* [end] news reader style 1 */