/* files/themore/assets/scss/contao/slider.css | last updated v1.2.0 */
/* the minimal slider got deleted in 1.2.0 */

/* [start] slider-optimization */

	.autoHeight.content-swiper .content-element-group, 
	.autoHeight.content-swiper .bgWrapper {
		height: 100%;
		display: grid;
	}
	
	.swiper-pagination-bullet-active {
		background: var(--main-color);
	}
	
	.swiper-button-prev, .swiper-button-next {
		background-color: unset;
		border: unset;
		color: var(--main-color);
		text-shadow: 0 0 4px #0002;
	}

/* [end] slider-optimization */
